<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspur.dao.BlogIntroMapper">

    <select id="getAllBlogIntro"  resultType="com.inspur.model.crawler.BlogIntro">
        select * from blog_intro
    </select>

    <insert id="saveBlogIntro" parameterType="com.inspur.model.crawler.BlogIntro">
        insert into blog_intro(int_id,title,summary,url) values(#{intId},#{title},#{summary},#{url})
    </insert>

    <insert id="saveBlogDetail" parameterType="com.inspur.model.crawler.BlogDetail">
        insert into blog_detail(int_id,title,url,content) values(#{intId},#{title},#{url},#{content})
    </insert>

    <select id="getBlogIntro" parameterType="com.inspur.model.crawler.BlogIntro" resultType="com.inspur.model.crawler.BlogIntro">
        select * from blog_intro
        <where>
            <if test="intId != null and intId != ''">
              and int_id = #{intId}
            </if>
            <if test="title != null and title != ''">
              and title like  concat('%',#{title},'%')
            </if>
            <if test="url != null and url != ''">
              and url = #{url}
            </if>
        </where>
    </select>

    <update id="updateBlogIntro" parameterType="com.inspur.model.crawler.BlogIntro">
        update blog_intro
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="url != null and url != ''">
                url = #{url}
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary}
            </if>
        </set>
        where int_id = #{intId}
    </update>

    <delete id="deleteBlogIntro" parameterType="com.inspur.model.crawler.BlogIntro">
        delete from blog_intro where int_id = #{intId}
    </delete>


</mapper>